extends layout

block content
  form(action="/result" method="post")
    textarea(name="input" rows="20" cols="100")=input
    br
    input(type="submit" value="Submit")
  
  if(data)
    h2 data
    pre= data
  if(err || stderr)
    h2 Error
    pre= (err || stderr)
